{% extends 'PMISLooper/index.html' %}
{%load static %}
{% load customer_filter %}
{%block form_css%}
{{block.super}}
<link rel="stylesheet" href="{% static 'PMISLooper/assets/stylesheets/goal/goal_calendar.css'%}" data-skin="default">
<link rel="stylesheet" href="{% static 'PMISLooper/assets/stylesheets/goal/goal_calendar_dark.css'%}" data-skin="dark">
{%endblock%}
{%block content%}

{{block.super}}
    <div id="goal_calendar"></div>
{%endblock%}
{%block form_js%}
{{block.super}}
    <script src="{% static 'PMISLooper/assets/javascript/goal/goal_calendar.js' %}" type="text/javascript"></script>
{% endblock%}