{% extends 'PMISLooper/vue_index.html' %}
{%load static %}
{% load md5url %}
{% load render_bundle from webpack_loader %}
{% block form_css%}
{{block.super}}
    <link rel="stylesheet" type="text/css" href="{% md5url 'ProjectManagement_app/assets/stylesheets/ProjectMilestone.css' %}" data-skin="default"/>    
    <link rel="stylesheet" type="text/css" href="{% md5url 'ProjectManagement_app/assets/stylesheets/ProjectMilestone_dark.css' %}" data-skin="dark"/>    
<style>
 /* 加載常規 Microsoft YaHei 字體 */
 @font-face {
    font-family: "Microsoft YaHei";
    src: url('/static/BaseApp/assets/fonts/MicrosoftYahei.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 加載粗體 Microsoft YaHei Bold 字體 */
@font-face {
    font-family: "Microsoft YaHei Bold";
    src: url('/static/BaseApp/assets/fonts/MicrosoftYahei-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}    
.LPGantt_container .gantt text {
    font-family: "Microsoft YaHei" !important;
}
</style>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/canvg/3.0.9/umd.js" integrity="sha512-Wu9XXg78PiNE0DI4Z80lFKlEpLq7yGjquc0I35Nz+sYmSs4/oNHaSW8ACStXBoXciqwTLnSINqToeWP3iNDGmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/pdfkit@0.13.0/js/pdfkit.standalone.js" integrity="sha256-41qk5dewLKulpzhP3H6G7mY+5q+vzxMaxolsOGmZD/8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/blob-stream-browserify@0.1.3/index.js" integrity="sha256-bFrIR3MiIsKhM2EDZdTJ3eY7iSluq1W7e6dNVwScEYw=" crossorigin="anonymous"></script>-->
<script src="{% static 'BaseApp/vendor/svgexportjs/canvg-3.0.9.min.js'%}"></script>
<script src="{% static 'BaseApp/vendor/svgexportjs/pdfkit.standalone-0.13.0.min.js'%}"></script>
<script src="{% static 'BaseApp/vendor/svgexportjs/blob-stream-browserify@0.1.3.min.js'%}"></script>
<script src="{% static 'BaseApp/vendor/svgexportjs/SVG-to-PDFKit.js'%}"></script>
<!-- svg-exportJS plugin -->
<!--<script src="https://sharonchoong.github.io/svg-exportJS/svg-export.js"></script>-->
<script src="{% static 'BaseApp/vendor/svgexportjs/svg-export.js'%}"></script>
{%endblock%}

{% block content%}
{{block.super}}
    
{%endblock%}   


{%block form_js%}
{{block.super}}
{% render_bundle 'ProjectManagement_app/dist/javascript/ProjectMilestone' %} 
{%endblock%}     