{% extends 'FlowChartApp/index.html' %}
{%load static %}
{% load render_bundle from webpack_loader %}
{% load md5url %}
{%block form_js%}
{{block.super}}
<script type="text/javascript" src="{% static 'BaseApp/vendor/gojs/go.js' %}"></script>
<script type="text/javascript" src="{% static 'BaseApp/vendor/gojs/Figures.js' %}"></script>
<script type="text/javascript" src="{% static 'BaseApp/vendor/gojs/RoundedRectangles.js' %}"></script>
<script type="text/javascript" src="{% static 'BaseApp/vendor/gojs/DataInspector.js' %}"></script>
<script type="text/javascript" src="{% static 'BaseApp/vendor/gojs/OrthogonalLinkReshapingTool.js' %}"></script>
{% render_bundle 'FlowChartApp/dist/javascript/PreviewDiagram' %}
{%endblock%}   