{% extends 'DevPlat/index.html'%}
{%load static %}
{% load i18n %}
{% load md5url %}
{%block form_css%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% md5url 'DevPlat/assets/stylesheets/course.css' %}" data-skin="default"/>
<link rel="stylesheet" type="text/css" href="{% md5url 'DevPlat/assets/stylesheets/course_dark.css' %}" data-skin="dark"/>
<style>
    .status-warning { border-left: 4px solid #f0ad4e; }

    .status-success { border-left: 4px solid #2cc4cd; }
    
    .status-info { border-left: 4px solid #22bfed; }
    
    .status-danger { border-left: 4px solid #ff6262; }
    
    .status-primary { border-left: 4px solid #6c8bef; }
    
    .status.warning { background: #f0ad4e; }
    
    .status { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; padding: 0 10px; line-height: 26px; display: inline-block; vertical-align: middle; color: #ffffff; }
    
    .status.warning { background: #f0ad4e; }
    
    .status.success { background: #2cc4cd; }
    
    .status.info { background: #22bfed; }
    
    .status.danger { background: #ff6262; }                                                                                                                   
    
    .status.primary { background: #6c8bef; }       
</style>
{%endblock%}
{%block content %}
{{block.super}}
<div class="course_container card card-reflow">
    <div class="card-header"><h6 class="mb-0">{% trans "Course Management System"%}</h6></div>
    <div class="card-body">
        <div class="row mx-0">
            <div class="col-sm-12 col-xl-8" id="Mindmap">

            </div>
            <div class="col-sm-12 col-xl-4" id="SolutionType">
            </div>
        </div>
        <div class="card-header course_nav d-none">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link show active" data-toggle="tab" href="#course">course</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link show" data-toggle="tab" href="#course_task">course_task</a>
                </li>    
            </ul>
        </div>
        <hr class="my-4">
        <div class="card-body course_wrap">
            <div class="tab-content">
                <div class="tab-pane fade active show" id="course">    
                    <div id="course_table"></div>
                </div>
                <div class="tab-pane fade" id="course_task">    
                    <div class="test d-flex flex-row align-items-center">
                        <a class="back text-gray-soft" href="#"><i class="fa fa-chevron-left"></i>{% trans "Back"%}</a>
                    </div>                                
                    <div id="course_task_table"></div>
                </div>
            </div>
        </div>

        
    </div>
</div>
<div class="modal fade" id="edit_course" tabindex="-1" role="dialog" aria-labelledby="form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable col-12">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Add Course"%}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="far fa-times-circle" style="font-size: 20px;color: #bbb;"></i></button>
            </div>
            <div class="modal-body px-0">               
            </div>
            <div class="modal-footer">
                <button class="btn btn-subtle-danger mr-5" id="new_save">{% trans "Save"%}</button>
                <button class="btn btn-subtle-info" data-dismiss="modal" aria-label="Close">{% trans "Cancel"%}</button> 
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit_solution" tabindex="-1" role="dialog" aria-labelledby="form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable col-12">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Add Solution"%}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="far fa-times-circle" style="font-size: 20px;color: #bbb;"></i></button>
            </div>
            <div class="modal-body px-0">               
            </div>
            <div class="modal-footer">
                <button class="btn btn-subtle-danger mr-5" id="new_save">{% trans "Save"%}</button>
                <button class="btn btn-subtle-info" data-dismiss="modal" aria-label="Close">{% trans "Cancel"%}</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block form_js%}
{{block.super}}
<script src="{% md5url 'DevPlat/assets/javascript/course.js' %}" type="text/javascript"></script>  
{%endblock%}