{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'PMIS/favicon.ico' %}">

    <title>Adminux by maxartkiller</title>
    <!-- Fontawesome icon CSS -->
    <link rel="stylesheet" href="{% static 'BaseProject/vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css">
      
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'BaseProject/vendor/bootstrap4alpha/css/bootstrap.css' %}" type="text/css">
      
    <link rel="stylesheet" href="{% static 'PMIS/css/dark_blue_adminux.css' %}" type="text/css">
  </head>
  <body>
      <header class="navbar-fixed" >......</header>
      <div class="sidebar-left">......</div>
      <div class="wrapper-content">
            <div class="container">
                <div class="row  align-items-center justify-content-between">
                    <div class="col-11 col-sm-12 page-title">
                        <h3>Blank Default page</h3>
                        <p>Creatively crafted Dashboard for your needs</p>
                    </div>
                    <div class="col text-right "><button class="btn btn-outline-primary btn-round"><span class="text">Customise</span> <i class="fa fa-cogs ml-2"></i></button></div>
                </div>
                <div class="row">
                    <div class="col-sm-16">
                        <div class="card">
                            <div class="card-header"><h6 class="card-title">Blank</h6></div>
                            <div class="card-block"></div>
                        </div>
                    </div>
                </div>
            </div> 
            <footer class="footer-content ">
                <div class="container ">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-16  ">This template is designed by  <a href="http://www.maxartkiller.in" target="_blank" class="">www.maxartkiller.in</a></div>
                        <div class="col-md-16   text-right"><a href="#" target="_blank" class="">Privacy Policy</a> | <a href="#" target="_blank" class="">Terms of use</a>       </div> 
                    </div>
                </div>
            </footer>
      </div>
      <div class="search-block" >......</div>
     
      <div class="sidebar-right" >......</div>
      
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="{% static 'PMIS/js/jquery-2.1.1.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'BaseProject/vendor/bootstrap4alpha/js/tether.min.js' %}"></script>
        <script src="{% static 'BaseProject/vendor/bootstrap4alpha/js/bootstrap.min.js' %}" type="text/javascript"></script>     
      
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static 'PMIS/js/ie10-viewport-bug-workaround.js' %}"></script>   
        
        <!-- HTML include w3c school data js -->
        <script src="{% static 'BaseProject/vendor/w3data/w3data.js' %}" type="text/javascript"></script>
      
        <!-- Circular chart progress js -->
        <script src="{% static 'BaseProject/vendor/cicular_progress/circle-progress.min.js' %}" type="text/javascript"></script>
      
        <!--sparklines js--> 
        <script type="text/javascript" src="{% static 'BaseProject/vendor/sparklines/jquery.sparkline.min.js' %}"></script> 
      
        <!-- custome template js -->
        <script src="{% static 'PMIS/js/adminux.js' %}" type="text/javascript"></script>
  </body>
</html>      