
{% extends 'PMIS/Starter_page.html' %}

{%  block content %}

  <form class="site-form" method="POST" >
        {% csrf_token %}
        <!-- 
        <div class="fieldWrapper">
        -->
        <!-- -->
            <div class="form-group row">
            {{ form.Pid.errors }}
            <label for="form.Pid.id_for_label }}" class="col-4 col-form-label">Pid</label>
            <div class="col-12">
                <input class="form-control" type="text" value="888" id={{ form.Pid }}
            </div>
          </div>
            <div class="form-group row">
            {{ form.Tid.errors }}
            <label for="form.Tid.id_for_label }}" class="col-4 col-form-label">Tid</label>
            <div class="col-12">
                <input class="form-control" type="text" value="100" id={{ form.Tid }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.TaskID.errors }}
            <label for="form.TaskID.id_for_label }}" class="col-4 col-form-label">TaskID</label>
            <div class="col-12">
                <input class="form-control" type="text" value="136000" id={{ form.TaskID }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.Task.errors }}
            <label for="form.Task.id_for_label }}" class="col-4 col-form-label">Task</label>
            <div class="col-12">
                <textarea class="form-control" id={{ form.Task }} </textarea>
            </div>
        </div>   
         <div class="form-group row">
            {{ form.contact.errors }}
            <label for="form.contact.id_for_label }}" class="col-4 col-form-label">contact</label>
            <div class="col-12">
                <input class="form-control" type="text" value="sing" id={{ form.contact }}
            </div>
        </div>
         <div class="form-group row">
            {{ form.PlanBDate.errors }}
            <label for="form.PlanBDate.id_for_label }}" class="col-4 col-form-label">Date</label>
            <div class="col-12">
                <input class="form-control" type="date" value="" id={{ form.PlanBDate }} required/>
            </div>
        </div>

        <div class="form-group row">
            {{ form.Class.errors }}
            <label for="form.Class.id_for_label }}" class="col-4 col-form-label">Class</label>
            <div class="col-12">
                <input class="form-control" type="text" value="0" id={{ form.Class }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.Remark.errors }}
            <label for="form.Remark.id_for_label }}" class="col-4 col-form-label">Remark</label>
            <div class="col-12">
                <input class="form-control" type="text" value={{res}} id={{ form.Remark }}
            </div>
        </div>

        <div class="form-group row">
            {{ form.Progress.errors }}
            <label for="form.Progress.id_for_label }}" class="col-4 col-form-label">Progress</label>
            <div class="col-12">
                <input class="form-control" type="text" value="N" id={{ form.Progress }}
            </div>
        </div>
                

        <button type="submit" class="btn btn-primary" value="">Submit</button> 

    </form>

<!-- 
        <button onclick="Test()" class="btn btn-primary" value="">Test</button> 
-->




{% endblock %}