{% load static %}
{% load i18n %}
{% load md5url %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tab</title>
    <link rel="stylesheet" href="{% static 'BaseApp/vendor/bootstrap/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cagliostro" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika" type="text/css">
    <link rel="stylesheet" href="{% static 'PMIS/css/Technical_Material.css' %}" type="text/css" data-skin="default">
    <link rel="stylesheet" href="{% static 'PMIS/css/Technical_Material_dark.css' %}" type="text/css" data-skin="dark">

    <script>
        var skin = localStorage.getItem('skin') || 'default';
        var unusedLink = document.querySelectorAll('link[data-skin]:not([data-skin="' + skin + '"])');

        for (index = 0; index < unusedLink.length; index++) {
            unusedLink[index].setAttribute('rel', '');
            unusedLink[index].setAttribute('disabled', true);
        } 
    </script>
</head>

<body>

    {% csrf_token %}
    <div class="d-none">
        {%include "BaseApp/looper_base/components/SWButton.html"%}
        {%include "BaseApp/looper_base/components/SWRow.html"%}
    </div>
    <div class="technical_continer">
        <div class="technical">
            <div class="container">
                <div class="intro">
                    <h2>{% trans "Detail Technical Topic Description"%}</h2>
                    <div class="">
                        <div id="btnVessel" class=""></div>
                    </div>
                    <input hidden type="text" id="technicalid_input" value="{{tecmb.mb023}}">
                    <input hidden type="text" id="technicalinc_id_input" value="{{tecmb.inc_id}}">


                    <div><img src="../../static/PMIS/img/State{{tecmb.udf03}}.jpg" onerror="$(this).parent().remove();"
                            alt="" class="mw-100"></div>
                </div>
                <div class="row">
                    <div class="item">
                        <div class="id"><strong>{% trans "Technical ID"%}: &nbsp{{tecmb.mb023}}</strong></div>

                        <div class="date"><strong>{% trans "Date"%}:&nbsp
                                {{tecmb.mb006|slice:"0:4"}}-{{tecmb.mb006|slice:"4:6"}}-{{tecmb.mb006|slice:"6:8"}}</strong>
                        </div>
                        <div class="contact"><strong>{% trans "Contact"%}:&nbsp{{tecmb.mb005}}</strong> </div>
                        <div class="score"><strong>{% trans "Score"%}:&nbsp{{tecmb.mb027}}</strong> </div>
                    </div>
                    <div class="col-12">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Topic"%}</strong></h3>
                            <div class="sdescription">
                                <pre>{{tecmb.mb004}}</pre><br><br><br><br></div>
                        </div>
                    </div>
                    <div class="col-12   ">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Concept/Theory"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb007}}</pre>
                            </div>
                        </div>
                    </div>
                    <div class="col-12   ">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Usage"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb008}}</pre><br><br><br></div>
                        </div>
                    </div>
                    <div class="col-12   ">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Pre-requist/Dependancy"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb009}}</pre><br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-12   ">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Control"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb025}}</pre><br><br><br></div>
                        </div>
                    </div>
                    <div class="col-12   ">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Properties"%}</strong></h3>
                            <div class="sdescription">
                                <pre>{{tecmb.mb024}}</pre><br><br><br></div>
                        </div>
                    </div>

                    <div class="col-12 ">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Implementation Procedure/Steps"%}</strong></h3>
                            <div class="sdescription " style=" list-style: none;">

                                {%  for row in steps %}
                                <li>
                                    <pre>{{row.mc005}}</pre>
                                </li>
                                <li><img src="/PMIS/opportunity/Technical_Image?id={{row.id}}-{{row.mc003}}-{{row.mc004}}"
                                        onerror="$(this).parent().remove();" alt="" class="mw-100"></li>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Example"%}</strong></h3>
                            <div class="sdescription " style=" list-style: none;">

                                {%  for row in example %}
                                <li>
                                    <pre>{{row.mc005}}</pre>
                                </li>
                                <li><img src="/PMIS/opportunity/Technical_Image?id={{row.id}}-{{row.mc003}}-{{row.mc004}}"
                                        onerror="$(this).parent().remove();" alt="" class="mw-100"></li>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Precaution"%}</strong></h3>
                            <div class="sdescription " style=" list-style: none;">

                                {%  for row in precaution %}
                                <li>
                                    <pre>{{row.mc005}}</pre>
                                </li>
                                <li><img src="/PMIS/opportunity/Technical_Image?id={{row.id}}-{{row.mc003}}-{{row.mc004}}"
                                        onerror="$(this).parent().remove();" alt="" class="mw-100"></li>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Questions"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb013}}</pre><br><br><br></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Video"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb018}}</pre><br></div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Category"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb015c}}</pre>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Area"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb016}}</pre>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Sub Area"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb026}}</pre>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Reference"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb017}}</pre><br></div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Compulsory"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb019}}</pre><br></div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Status"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.mb020}}</pre>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Mind Map ID"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.id}}</pre>
                                <input hidden='hidden' type="text" id="tecmbid" value="{{tecmb.inc_id}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="conBox">
                            <h3 class="title"><strong>{% trans "Parent Mind Map ID"%}</strong></h3>
                            <div class="sdescription ">
                                <pre>{{tecmb.parentid}}</pre></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> 

    <script src="{% static 'BaseApp/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'BaseApp/vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'BaseApp/assets/javascript/app/public.js' %}" type="text/javascript"></script>
    <script src="{% static 'BaseApp/assets/javascript/looper_base/components/SWRow.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'BaseApp/assets/javascript/looper_base/components/SWButton.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'PMIS/assets/javascript/technic/Technical_Material_show.js'%}"></script>

    <script src="{% static 'PMIS/js/navScroll.js' %}" type="text/javascript"></script>
</body>

</html>