<!--  This is extract from the contextmenu the bottom right of the card 

      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">ContextMenu + HTML5</h6>
          </div>
          <div class="card-block">
            <p class="context-menu-html">This is awesome product and, I am very happy with delivery & product packaging. Overall experience is good & I prefer to buy it again from this portals and like more orders. This is awesome product and, I am very happy with delivery & product packaging. Overall experience is good & I prefer to buy it again from this portals and like more orders.</p>
            <span class="context-menu-html btn btn-danger">Right click me</span>
            <menu id="html5menu" style="display:none" class="showcase">
                <menuitem  label="Rotate" icon="edit" onclick="alert('rotate')"></menuitem>
                <menuitem  label="Resize" onclick="alert('resize')"></menuitem>
                <menuitem  label="Twitter" onclick="alert('twitter')"></menuitem>
                <hr>
                <menuitem  label="Facebook" onclick="alert('facebook')"></menuitem>
            </menu>
          </div>
        </div>
      </div>
      -->