<!--------------------------------------Below is the top icon nav button, still need to work out the full navbar setting for below to be used------->



  <!-------------This is the nav button on the right-handed side: the mail, alert, menu, notification,etc -----------------yy-->
  <ul class="navbar-nav content-right">
    <li class="nav-item active">
      <button class="btn btn-link icon-header "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-envelope-o"></span> <span class="badge-number bg-success"></span></button>
      <div class="dropdown-menu message-container">
        <div class="list-unstyled"> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex mr-3" src="{% static 'PMIS/img/user-header.png' %}" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Dhananjay Chauhan</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
          </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex mr-3" src="{% static 'PMIS/img/user-header.png' %}" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Max Smith</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
          </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex mr-3" src="{% static 'PMIS/img/user-header.png' %}" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Astha Smith</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
          </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex mr-3" src="{% static 'PMIS/img/user-header.png' %}" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Tommy Cruszii</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
          </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex mr-3" src="{% static 'PMIS/img/user-header.png' %}" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Max Smith</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
          </a> </div>
      </div>
    </li>


    <li class="nav-item">
      <button class="btn btn-link icon-header badgeCircle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bell-o"></span><span class="badge-number bg-danger"></span></button>
      <div class="dropdown-menu message-container">
        <div class="list-unstyled">
          <div class="media"> <span class="alert-block bg-primary"><span class="fa fa-bullhorn"></span></span>
            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
          </div>
          <div class="media"> <span class="alert-block bg-warning"><span class="fa fa-bell-o"></span></span>
            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
          </div>
          <div class="media"> <span class="alert-block bg-danger"><span class="fa fa-exclamation-triangle"></span></span>
            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
          </div>
          <div class="media">
            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
          </div>
          <div class="media">
            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
          </div>
        </div>
      </div>
    </li>




    <li class="nav-item">
      <button class="btn btn-link icon-header " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-th"></span> </button>
      <div class="dropdown-menu message-container box-links">
        <div class="list-unstyled"> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-bullhorn"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-bell-o"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-calendar"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-id-card"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-handshake-o"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-camera-retro"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-flask"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-plane"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-pie-chart"></span></span> </a> </div>
      </div>
    </li>
    <!-------------End of the nav button on the right-handed side: the mail, alert, menu, notification,etc -----------------yy-->




