<!-----------------------The card used for Task Display------------------>
<div class="col-md-16  ">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">Assign Tasks <small>Today's</small></h5>
            <ul class="nav nav-pills card-header-pills pull-right">
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
              </li>
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-menu"> <a class="dropdown-item" href="#"><i class="fa fa-calendar mr-2"></i>Quarter 1</a> <a class="dropdown-item" href="#"><i class="fa fa-calendar mr-2"></i>Quarter 2</a> <a class="dropdown-item" href="#"><i class="fa fa-calendar mr-2"></i>Quarter 3</a> <a class="dropdown-item" href="#"><i class="fa fa-calendar mr-2"></i>Quarter 4</a> </div>
              </li>
            </ul>
          </div>
          <div class="card-block">
            <div class="list-unstyled media-list bordered" >

<!-- 

      </div>
          </div>
        </div>
      </div

-->            
<!-----------------------End of the card definition ------------------>

              <!-------------------------------------------Lists of Task Display in below styles-------------------------->

              <div class="media align-items-center"> <span class="mr-3"><span class="btn btn-sm btn-danger">Bug</span><br>
                <span class="text-white">12:00pm</span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">EP-123 Bug in transaction view</h6>
                  Reporter: Adam Gill</div>
                <span class="message_userpic ml-1"><img class="d-flex " src="../img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span> <span class="message_userpic ml-1"><img class="d-flex " src="../img/user-header.png" alt="Generic user image"></span>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>

              <div class="media align-items-center"> <span class="mr-3"><span class="btn btn-sm btn-warning">Issue</span><br>
                <span class="text-white">12:00pm</span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">EP-152 Can not read properties...</h6>
                  Reporter: Adam Gill</div>
                <span class="message_userpic ml-1"><img class="d-flex " src="../img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span> <span class="message_userpic ml-1"><img class="d-flex " src="../img/user-header.png" alt="Generic user image"></span> <span class="message_userpic ml-1"><img class="d-flex " src="../img/user-header.png" alt="Generic user image"></span>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>

              <div class="media align-items-center"> <span class="mr-3"><span class="btn btn-sm btn-info">Change</span><br>
                <span class="text-white">12:00pm</span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">EP-126 View moreshoud be read...</h6>
                  Reporter: Adam Gill</div>
                <span class="message_userpic ml-2"><img class="d-flex " src="../img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>

              <div class="media align-items-center"> <span class="mr-3"><span class="btn btn-sm btn-primary">New</span><br>
                <span class="text-white">12:00pm</span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">EP-124 Add email on footer</h6>
                  Reporter: Adam Gill</div>
                <span class="message_userpic ml-1"><img class="d-flex " src="../img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span> <span class="message_userpic ml-1"><img class="d-flex " src="../img/user-header.png" alt="Generic user image"></span> <span class="message_userpic ml-1"><img class="d-flex " src="../img/user-header.png" alt="Generic user image"></span> <span class="message_userpic ml-1"><img class="d-flex " src="../img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
                <div class="overlay align-items-end">
                  <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                  <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                </div>
              </div>

              
              <!------------------------------------End of Lists of Task Display------------------------------>

            </div>
          </div>
        </div>
      </div
 