{% extends 'PMISLooper/index.html' %}
{%load static %}
{% load i18n %}
{%load md5url %}
{%load customer_filter%}
{%block form_css%}
{{block.super}}
<link rel="stylesheet" href="{% md5url 'PMISLooper/assets/stylesheets/dashboard/staff_dashboard.css' %}" data-skin="default">
<link rel="stylesheet" href="{% md5url 'PMISLooper/assets/stylesheets/dashboard/staff_dashboard_dark.css' %}" data-skin="dark">
<style>
  .completion_rate .list-group-item-figure {
    padding-right: 5px;
  }  
  .completion_rate .list-group-item-figure span{
    display: inline-block;
  }
  .metric-hide {
    visibility: hidden;
  }
  #session_gantt .modal-dialog {
    max-width: 100% !important;
    margin: 5px !important;
  }
  #session_gantt .iframe_wrapper {
      height:calc(100vh - 3.5rem - 62px);
  }
</style>
{%endblock%}
{%  block content %}
{{block.super}}
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar --> 
    <header class="page-title-bar">
      <div class="d-flex flex-row">
        <div class="all_user_container">
        </div>
        <div class="ml-auto">
          <!-- .dropdown -->
          <div class="dropdown">
            <button class="dpFilter_dropdown btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>{% trans "This Week"%}</span> <i class="fa fa-fw fa-caret-down"></i></button> <!-- .dropdown-menu -->
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-md stop-propagation">
              <div class="dropdown-arrow"></div><!-- .custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="ltQuarter" name="dpFilter" data-start="2019/01/01" data-end="2019/12/31"> <label class="custom-control-label d-flex justify-content-between" for="ltQuarter"><span>{% trans "Last Quarter"%}</span> <span class="text-dark">2019</span></label>
              </div><!-- /.custom-control -->              
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="dpToday" name="dpFilter" data-start="2019/03/27" data-end="2019/03/27"> <label class="custom-control-label d-flex justify-content-between" for="dpToday"><span>{% trans "Today"%}</span> <span class="text-dark">Mar 27</span></label>
              </div><!-- /.custom-control -->
              <!-- .custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="dpYesterday" name="dpFilter" data-start="2019/03/26" data-end="2019/03/26"> <label class="custom-control-label d-flex justify-content-between" for="dpYesterday"><span>{% trans "Yesterday"%}</span> <span class="text-dark">Mar 26</span></label>
              </div><!-- /.custom-control -->
              <!-- .custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="dpWeek" name="dpFilter" data-start="2019/03/21" data-end="2019/03/27" checked> <label class="custom-control-label d-flex justify-content-between" for="dpWeek"><span>{% trans "This Week"%}</span> <span class="text-dark">Mar 21-27</span></label>
              </div><!-- /.custom-control -->
              <!-- .custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="dpMonth" name="dpFilter" data-start="2019/03/01" data-end="2019/03/27"> <label class="custom-control-label d-flex justify-content-between" for="dpMonth"><span>{% trans "This Month"%}</span> <span class="text-dark">Mar 1-31</span></label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="dpQuarter" name="dpFilter" data-start="2019/01/01" data-end="2019/12/31"> <label class="custom-control-label d-flex justify-content-between" for="dpQuarter"><span>{% trans "This Quarter"%}</span> <span class="text-dark">2019</span></label>
              </div><!-- /.custom-control -->
              <!-- .custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="dpYear" name="dpFilter" data-start="2019/01/01" data-end="2019/12/31"> <label class="custom-control-label d-flex justify-content-between" for="dpYear"><span>{% trans "This Year" %}</span> <span class="text-dark">2019</span></label>
              </div><!-- /.custom-control -->
              <!-- .custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="dpCustom" name="dpFilter" data-start="2019/03/27" data-end="2019/03/27"> <label class="custom-control-label" for="dpCustom">{% trans "Custom" %}</label>
                <div class="custom-control-hint my-1">
                  <!-- datepicker:range -->
                  <input type="text" class="form-control" id="dpCustomInput" data-toggle="flatpickr" data-mode="range" data-disable-mobile="true" data-date-format="Y-m-d"> <!-- /datepicker:range -->
                </div>
              </div><!-- /.custom-control -->
            </div><!-- /.dropdown-menu -->
          </div><!-- /.dropdown -->
        </div>
      </div>
    </header><!-- /.page-title-bar -->
    <!-- .page-section -->
    <div class="page-section">
      <!-- .section-block -->
      <div class="section-block">
        <!-- metric row -->
        <div class="metric-row">
          <div class="col-12 col-lg-12 col-xl-10">
            <div class="metric-row metric-flush custom-metric">   
              <div class="col col-sm-2 col-md-3 col-xxl">
                <!-- .metric -->
                <a href="/looper/mindmap?type=1&pk={{mindmap_id}}" id="mindmap_link" class="metric metric-bordered align-items-center" target="mindmap">
                  <h2 class="metric-label">{% trans "Mindmap" %} </h2>
                  <p class="metric-value h3">
                    <sub><i class="fas fa-sitemap"></i></sub> <span class="value">{{mindmap_count}}</span>
                  </p>
                </a> <!-- /.metric -->
              </div>     
              <div class="col col-sm-2 col-md-3 col-xxl">
                <!-- .metric -->
                <a href="#" id="goal_link" class="metric metric-bordered align-items-center" target="goal">
                  <h2 class="metric-label"> {% trans "Goals" %} </h2>
                  <p class="metric-value h3">
                    <sub><span class="oi oi-flag"></span></sub> <span class="value">{{goal_count}}</span>
                  </p>
                </a> <!-- /.metric -->
              </div>    
              <div class="col col-sm-2 col-md-3 col-xxl">
                <!-- .metric -->
                <a href="user/teams" class="metric metric-bordered align-items-center">
                  <h2 class="metric-label"> {% trans "Teams" %} </h2>
                  <p class="metric-value h3">
                    <sub><i class="oi oi-people"></i></sub> <span class="value">{{teams}}</span>
                  </p>
                </a> <!-- /.metric -->
              </div>
              <div class="col col-sm-2 col-md-3 col-xxl">
                <!-- .metric -->
                <a href="#" id="calendar_link" class="metric metric-bordered align-items-center">
                  <h2 class="metric-label"> {% trans "Calendar" %} </h2>
                  <p class="metric-value h3">
                    <sub><i class="far fa-calendar-alt"></i></sub> <span class="value">0</span>
                  </p>
                </a> <!-- /.metric -->
              </div>
              <div class="col col-sm-2 col-md-3 col-xxl">
                <!-- .metric -->
                <a href="#" class="metric-projects metric metric-bordered align-items-center" target="project">
                  <h2 class="metric-label"> {% trans "Projects" %} </h2>
                  <p class="metric-value h3">
                    <sub><i class="oi oi-fork"></i></sub> <span class="value">{{projects}}</span>
                  </p>
                </a> <!-- /.metric -->
              </div>
              <div class="col col-sm-2 col-md-3 col-xxl">
                <!-- .metric -->
                <a href="/looper/user/sessions" id="session_link" class="metric metric-bordered align-items-center">
                  <h2 class="metric-label"> {% trans "Sessions" %} </h2>
                  <p class="metric-value h3">
                    <sub><i class="fa fa-cube"></i></sub> <span class="value">{{session_count}}</span>
                  </p>
                </a> <!-- /.metric -->
              </div>       
              <div class="col col-sm-3 col-md-3 col-xxl">
                <!-- .metric -->
                <a href="user/activites" id="act_tasks_link" class="metric metric-bordered align-items-center">
                  <h2 class="metric-label"><span class="pulses svg-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-stars" viewBox="0 0 16 16">
                    <path fill="#3699FF" d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
                  </svg><span class="pulse-ring"></span>
                </span><span class="ml-2">{% trans "Tasks" %}</span></h2>
                <p class="metric-value h3">
                    <sub><i class="fa fa-tasks"></i></sub> <span class="value">{{active_tasks}}</span>
                  </p>
                </a> <!-- /.metric -->
              </div>
              <div class="col col-sm-3 col-md-3 col-xxl">
                <!-- .metric -->
                <a href="#" id="act_new_tasks" class="metric metric-bordered align-items-center">
                  <h2 class="metric-label"><img src="../../../static/PMISLooper/assets/images/new_icon.png" width="18" height="18" alt=""> {% trans "New Tasks" %} </h2>
                  <p class="metric-value h3">
                    <sub><i class="oi oi-comment-square"></i></sub> <span class="value">0</span>
                  </p>
                </a> <!-- /.metric -->
              </div><!-- /metric column -->     
              <div class="col col-sm-3 col-md-3 col-xxl">
                <a href = "javascript:;" id="new_technicals" class="metric metric-bordered align-items-center">
                  <h2 class="metric-label"><img src="../../../static/PMISLooper/assets/images/new_icon.png" width="18" height="18" alt=""> {% trans "New Technicals" %} </h2>
                    <p class="metric-value h3">
                        <sub><i class="far fa-file-alt"></i></sub> 
                        <span class="value">{{new_technicals}} </span>
                    </p>
                  </a>
              </div>
              <div class="col col-sm-3 col-md-3 col-xxl">
                <a href = "javascript:;" id="unsolved_topics" class="metric metric-bordered align-items-center">
                  <h2 class="metric-label"><img src="../../../static/PMISLooper/assets/images/new_icon.png" width="18" height="18" alt=""> {% trans "New Questions" %} </h2>
                    <p class="metric-value h3">
                        <sub><i class="fas fa-question-circle"></i></sub> 
                        <span class="value">{{unsolved_topics}} </span>
                    </p>
                  </a>
              </div>
              <!-- metric column -->
              <div class="col col-md-3 d-none d-md-block d-xl-none ongoing_wrap">
                <!-- .metric -->
                <a href="/looper/task/today_task" class="today_task_link metric metric-bordered ongoingTasks">
                  <div class="metric-badge">
                    <span class="badge badge-lg badge-success"><span class="oi oi-media-record pulse mr-1"></span> {% trans "ONGOING TASKS" %}</span>
                  </div>
                  <p class="metric-value h3">
                    <sub><i class="oi oi-timer"></i></sub> <span class="value">{{ongoing_tasks}}</span>
                  </p>
                </a> <!-- /.metric -->
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-2 d-block d-md-none d-xl-block">
            <!-- .metric -->
            <a href="/looper/task/today_task" class="today_task_link metric metric-bordered ongoingTasks">
              <div class="metric-badge">
                <span class="badge badge-lg badge-success"><span class="oi oi-media-record pulse mr-1"></span> {% trans "ONGOING TASKS" %}</span>
              </div>
              <p class="metric-value h3">
                <sub><i class="oi oi-timer"></i></sub> <span class="value">{{ongoing_tasks}}</span>
              </p>
            </a> <!-- /.metric -->
          </div><!-- /metric column -->
        </div><!-- /metric row -->
      </div><!-- /.section-block -->
      <!-- grid row -->
      <div class="row">
        <!-- grid column -->
        <div class="col-12 col-lg-6 col-xl-6">
          <!-- .card -->
          <div class="card card-fluid completion_tasks_wrap" style="height: 367px;">
            <!-- .card-body -->
            <div class="card-body">
              <h3 class="card-title mb-4"> {% trans "Completion Tasks" %}</h3>
              <div class="chartjs" style="height: 292px">
                <canvas id="completion-tasks"></canvas>
              </div>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /grid column -->
        <!-- grid column -->
        <div class="col-12 col-lg-6 col-xl-6">
          <!-- .card -->
          <div class="card card-fluid" style="height: 367px;">
            <!-- .card-body -->
            <div class="card-body">
              <h3 class="card-title"> {% trans "Tasks Performance" %} </h3><!-- easy-pie-chart -->
              <div class="text-center pt-3">
                <div class="chart-inline-group" style="height:214px">
                  <div class="easypiechart" data-percent="{{task_performance.assigned_percent}}" data-size="214" data-bar-color="#a0d8ef" data-track-color="false" data-scale-color="false" data-rotate="225"></div>
                  <div class="easypiechart" data-percent="{{task_performance.completed_percent}}" data-size="174" data-bar-color="#a99af0" data-track-color="false" data-scale-color="false" data-rotate="225"></div>
                  <div class="easypiechart" data-percent="{{task_performance.active_percent}}" data-size="134" data-bar-color="#f8e58c" data-track-color="false" data-scale-color="false" data-rotate="225"></div>
                </div>
              </div><!-- /easy-pie-chart -->
            </div><!-- /.card-body -->
            <!-- .card-footer -->
            <div class="card-footer">
              <div class="card-footer-item">
                <i class="fa fa-fw fa-circle text-assign"></i> 100% <div class="text-dark small"> {% trans "Assigned" %} </div>
              </div>
              <div class="card-footer-item">
                <i class="fa fa-fw fa-circle text-complete"></i> {{task_performance.completed_percent_r}}% <div class="text-dark small">{% trans "Completed" %} </div>
              </div>
              <div class="card-footer-item">
                <i class="fa fa-fw fa-circle text-active"></i> {{task_performance.active_percent_r}}% <div class="text-dark small"> {% trans "Active" %} </div>
              </div>
            </div><!-- /.card-footer -->
          </div><!-- /.card -->
        </div><!-- /grid column -->
        <!-- grid column -->
        <div class="col-12 col-lg-6 col-xl-6">
          <!-- .card -->
          <div class="card card-fluid projects_card" style="height: 500px;">
            <!-- .card-body -->
            <div class="card-body pb-0" style="flex: 0 0 auto;">
              <h3 class="card-title"> {% trans "Projects" %} </h3><!-- legend -->
              <ul class="list-inline small">
                <li class="list-inline-item">
                  <i class="fa fa-fw fa-circle text-tasks"></i> {% trans "Assign" %} </li>
                <li class="list-inline-item">
                  <i class="fa fa-fw fa-circle text-complete"></i> {% trans "Completed" %} </li>
                <li class="list-inline-item">
                  <i class="fa fa-fw fa-circle text-active"></i> {% trans "Active" %} </li>
                <li class="list-inline-item">
                  <i class="fa fa-fw fa-circle text-overdue"></i> {% trans "Overdue" %} </li>
              </ul><!-- /legend -->
            </div><!-- /.card-body -->
            <!-- .list-group -->
            <div class="list-group list-group-flush projects_overflow scrollbar" style="overflow-y: auto; flex: 1;">
                {%for key, value in leader_board.items%}
              <!-- .list-group-item -->
              <div class="list-group-item">
                <!-- .list-group-item-figure -->
                <div class="list-group-item-figure pr-1">
                  <!--<a href="#" class="user-avatar" data-toggle="tooltip" title="{{key}}"><span class="oi oi-person"></span></a>-->
                  <a href="/devplat/project/overview?contact={{username}}&recordids={{key}}" class="user-avatar" data-toggle="tooltip" title="{{value.desc}}" target="project">
                    <span>{{key}}</span>
                  </a>
                </div><!-- /.list-group-item-figure -->                
                <!-- .list-group-item-body -->
                <div class="list-group-item-body">
                  <div class="row align-items-center mx-0">
                    <div class="col-5 col-lg-4 px-1">
                      <h4 class="list-group-item-title text-truncate" style="line-height: 1.5;">{{value.desc}}</h4>
                    </div>
                    <div class="col-7 col-lg-8 px-1">
                      <!-- .progress -->
                      <div class="progress progress-animated rounded-0 projects_progress" data-toggle="tooltip" data-html="true" title='&lt;div class="text-left small"&gt;&lt;i class="fa fa-fw fa-circle text-tasks"&gt;&lt;/i&gt; {{value.All_Qty}}&lt;br&gt;&lt;i class="fa fa-fw fa-circle text-complete"&gt;&lt;/i&gt; {{value.Completed_Qty}}&lt;br&gt;&lt;i class="fa fa-fw fa-circle text-active"&gt;&lt;/i&gt; {{value.Active_Qty}}&lt;br&gt;&lt;i class="fa fa-fw fa-circle text-overdue"&gt;&lt;/i&gt; {{value.Overdue_Qty}}&lt;/div&gt;'>
                        <div class="progress-bar bg-complete" role="progressbar" aria-valuenow="{{value.Completed}}" aria-valuemin="0" aria-valuemax="100" style="width: {{value.Completed}}%">
                          <span class="sr-only">{{value.Completed}}% Complete</span>
                        </div>
                        <div class="progress-bar bg-active" role="progressbar" aria-valuenow="{{value.Active}}" aria-valuemin="0" aria-valuemax="100" style="width:{{value.Active}}%">
                          <span class="sr-only">{{value.Active}}% Complete</span>
                        </div>
                        <div class="progress-bar bg-overdue" role="progressbar" aria-valuenow="{{value.Overdue}}" aria-valuemin="0" aria-valuemax="100" style="width: {{value.Overdue}}%">
                          <span class="sr-only">{{value.Overdue}}% Complete</span>
                        </div>
                      </div><!-- /.progress -->
                    </div>
                  </div>
                </div><!-- /.list-group-item-body -->
              </div><!-- /.list-group-item -->                
                {%endfor%}
            </div><!-- /.list-group -->
          </div><!-- /.card -->
        </div><!-- /grid column -->
        <div class="col-12 col-lg-6 col-xl-6 completion_rate">
          <!-- .card -->
          <div class="card card-fluid flex-column" style="height: 500px;">
            <!-- .card-body -->
            <div class="card-body pb-0" style="flex: 0 0 auto;">
              <h3 class="card-title"> {% trans "Completion Rate" %} </h3><!-- legend -->
              <ul class="list-inline small">
                <li class="list-inline-item">
                  <i class="fa fa-fw fa-circle text-assign"></i> {% trans "Assign"%} </li>
                <li class="list-inline-item">
                  <i class="fa fa-fw fa-circle text-complete"></i> {% trans "Completed" %} </li>
                <li class="list-inline-item">
                  <i class="fa fa-fw fa-circle text-actualuncomplete"></i> {% trans "Actual Uncomplete"%} </li>
                <li class="list-inline-item">
                  <i class="fa fa-fw fa-circle text-unassigncomplete"></i> {% trans "Unassign Complete"%} </li>
              </ul><!-- /legend -->              
            </div><!-- /.card-body -->
            <!-- .list-group -->
            <div class="list-group list-group-flush projects_overflow">

                {%for item in completion_rate%}
              <!-- .list-group-item -->
              <div class="list-group-item">
                <!-- .list-group-item-figure -->
                <div class="list-group-item-figure">
                  <a href="#" class="user-avatar" data-toggle="tooltip" title="{{item.ratio}}%">
                    <span>{{item.contact}} {{item.ratio|floatformat:0}}%</span>
                  </a>
                  
                </div><!-- /.list-group-item-figure -->                
                <!-- .list-group-item-body -->
                <div class="list-group-item-body">
                  <!-- .progress -->
                  <div class="progress progress-animated bg-transparent rounded-0" data-toggle="tooltip" data-html="true" title='&lt;div class="text-left small"&gt;&lt;i class="fa fa-fw fa-circle text-assign"&gt;&lt;/i&gt; {{item.assign}}&lt;br&gt;&lt;i class="fa fa-fw fa-circle text-complete"&gt;&lt;/i&gt; {{item.complete}}&lt;br&gt;&lt;i class="fa fa-fw fa-circle text-actualuncomplete"&gt;&lt;/i&gt; {{item.actualuncomplete}}&lt;br&gt;&lt;i class="fa fa-fw fa-circle text-unassigncomplete"&gt;&lt;/i&gt; {{item.unassigncomplete}}&lt;/div&gt;'>
                    <div class="progress-bar bg-complete" role="progressbar" aria-valuenow="{{item.ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.ratio}}%">
                      <span class="sr-only">{{item.ratio}}% Complete</span>
                    </div>
                    <div class="progress-bar bg-actualuncomplete" role="progressbar" aria-valuenow="{{item.actualuncomplete_ratio}}" aria-valuemin="0" aria-valuemax="100" style="width:{{item.actualuncomplete_ratio}}%">
                      <span class="sr-only">{{item.actualuncomplete_ratio}}% Complete</span>
                    </div>
                    <div class="progress-bar bg-unassigncomplete" role="progressbar" aria-valuenow="{{item.unassigncomplete_ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.unassigncomplete_ratio}}%">
                      <span class="sr-only">{{item.unassigncomplete_ratio}}% Complete</span>
                    </div>
                  </div><!-- /.progress -->
                </div><!-- /.list-group-item-body -->
              </div><!-- /.list-group-item -->                
                {%endfor%}
            </div><!-- /.list-group -->
              <div class="analysis_container d-flex flex-row projects_overflow px-3" style="overflow-y: auto;box-shadow: none;justify-content: space-around;flex:1 1 auto;font-size:14px;">
                <div class="list-group list-group-flush list-group-bordered task_type d-flex flex-column"></div>  
                <div class="list-group list-group-flush list-group-bordered solution_type d-flex flex-column"></div>  
              </div>
              <div class="row m-0 description_completion_rate" style="flex: 0 0 auto;justify-content: space-evenly;align-items: center;">
                {%for item in completion_rate%}     
                  {%for key,value in item.items%}
                    {% if key in "assign,complete,actualuncomplete,unassigncomplete,ratio" %}         
                    <!-- metric column -->
                    <div class="col p-0" id="{{key}}">
                      <div class="metric p-2" style="text-align: center;">
                        {% if key == "ratio" %}
                          <h5 class="metric-value">{{value|floatformat:0}}%</h5>
                        {%else%}
                          <h5 class="metric-value">{{value}}</h5>
                        {%endif%}                        
                        {% if key == "assign" %}
                        <p class="metric-label"> {% trans "Assign"%} </p>
                        {%endif%}
                        {% if key == "complete" %}
                        <p class="metric-label"> {% trans "Completed"%} </p>
                        {%endif%}
                        {% if key == "actualuncomplete" %}
                        <p class="metric-label"> {% trans "Actual Uncomplete"%} </p>
                        {%endif%}
                        {% if key == "unassigncomplete" %}
                        <p class="metric-label"> {% trans "Unassign Complete"%} </p>
                        {%endif%}
                        {% if key == "ratio" %}
                        <p class="metric-label"> {% trans "Ratio"%} </p>
                        {%endif%}
                      </div>
                    </div>  
                    {%endif%}
                  {%endfor%}
                {%endfor%}
              </div> 
              <div class="d-flex card-footer flex-column custom_style" style="flex: 0 0 auto;">
                  <div class="d-flex flex-row" style="justify-content: space-evenly;align-items: center;">
                  <div class="metric flex-row" style="border-right:1px dashed rgba(20, 20, 31, .12); border-radius: 0;flex-basis: 0;align-items: center;">
                    <p class="metric-label mb-0 mr-2"><span class="oi oi-dashboard mr-2"></span> {% trans "Frame" %} </p>
                    <h5 class="metric-value">{{frame_qty}}</h5>
                  </div>
                  <div class="metric flex-row" style="flex-basis: 0;align-items: center;">
                    <p class="metric-label mb-0 mr-2"><span class="oi oi-pin mr-2"></span> {% trans "Function" %} </p>
                    <h5 class="metric-value">{{func_qty}}</h5>
                  </div>         
                  </div>
                  <div class="d-flex flex-row cust_style" style="justify-content: space-evenly;align-items: center;border-top:1px dashed rgba(20, 20, 31, .12); border-radius: 0;">
                  <div class="metric flex-row flex-lg-column flex-xl-row" id="bonus_score" style="border-right:1px dashed rgba(20, 20, 31, .12); border-radius: 0;text-align: center;flex-basis: 0;align-items: center;">                    
                    <p class="metric-label mb-0 mr-2 mr-lg-0 mr-xl-2"> {% trans "Score" %} </p>                    
                    <h5 class="metric-value">0</h5>                                           
                  </div>
                  <div class="metric flex-row flex-lg-column flex-xl-row" id="bonus_simulate_score" style="border-right:1px dashed rgba(20, 20, 31, .12); border-radius: 0;text-align: center;flex-basis: 0;align-items: center;">                    
                    <p class="metric-label mb-0 mr-2 mr-lg-0 mr-xl-2"> {% trans "Simulate Score" %} </p>
                    <h5 class="metric-value">0</h5>                                            
                  </div>                  
                  <div class="metric flex-row flex-lg-column flex-xl-row" id="bonus_target_score" style="text-align: center;flex-basis: 0;align-items: center;">                    
                    <p class="metric-label mb-0 mr-2 mr-lg-0 mr-xl-2"> {% trans "TScore" %} </p>
                    <h5 class="metric-value">0</h5>                                            
                  </div>
                  </div> 
              </div> 
                     
          </div><!-- /.card -->
        </div><!-- /grid column -->         
        <div class="col-12 week_goal">
          <div class="card card-fluid">
            <div class="card-header pb-0" style="font-size: 16px;border: 0;"><h3 class="heading">{% trans "Weekly Goals" %}</h3></div>
            <div class="card-body weekGoal_card_wrap pt-2">
              <div class="card-deck-lg goals">
                <!--
                <div class="card card-fluid ribbon ribbon-top mx-sm-2 mx-xl-4">
                  <div class="card-body">
                      <div class="ribbon-target"><span><i class="far fa-calendar-alt mr-1"></i>Last Week</span></div>
                      <div class="ribbon-content goals-details">
                          <div class="task">
                            <ul class="task-inner">
                              <li class="d-flex mb-2"><span>G2.完成Project Simulation must have Schedule支持, 完成Bonus Simulation模擬功能</span></li>
                              <li class="d-flex mb-2"><span>G4.實現WEB ERP報表服務器</span></li>
                              <li class="d-flex mb-2"><span>G6.根據Backend Site Map及Technical Requirement分析需要完成的時間，補充缺失的Solution Type及Technical, 分配任務</span></li>
                              <li class="d-flex mb-2"><span>G6.根據Backend Site Map及Technical Requirement分析需要完成的時間，補充缺失的Solution Type及Technical, 分配任務</span></li>
                            </ul>
                          </div>
                          <div class="task_progress mt-3">
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                            </div>
                            <span class="todos pl-3">3/4</span>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="card card-fluid ribbon ribbon-top mx-sm-2 mx-lg-0 mx-xl-4">
                  <div class="card-body" style="position: relative;">
                    <div class="ribbon-target"><span><i class="far fa-calendar-alt mr-1"></i>This Week</span></div>
                    <div class="ribbon-content goals-details">
                        <div class="task">
                          <ul class="task-inner">
                            <li class="d-flex mb-2"><span>G3.完成Gojs Diagram轉換現有的Flow Chart</span></li>
                            <li class="d-flex mb-2"><span>G2.完善Problems Management Flow Up</span></li>
                          </ul>
                        </div>
                        <div class="task_progress mt-3">
                          <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                          </div>
                          <span class="todos pl-3">2/4</span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card card-fluid ribbon ribbon-top mx-sm-2 mx-xl-4">
                  <div class="card-body">
                    <div class="ribbon-target"><span><i class="far fa-calendar-alt mr-1"></i>Next Week</span></div>
                    <div class="ribbon-content goals-details">
                        <div class="task">
                          <ul class="task-inner">
                            <li class="d-flex mb-2"><span>G3.完成Forum需要優化的功能</span></li>
                          </ul>
                        </div>
                        <div class="task_progress mt-3">
                          <div class="progress progress-sm">
                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                          </div>
                          <span class="todos pl-3">2/4</span>
                        </div>
                    </div>
                    <div class="ribbon-content tasks-details d-none">
                        <div id="btnBack">
                            <img src="../../../static/PMISLooper/assets/images/close.png" alt="" style="cursor:pointer;">
                        </div>
                        <div class="task_wrap">
                            <div class="card mx-0 mb-2">
                              <div class="card-body">
                                <div class="d-flex align-items-center">
                                  <h4 class="mb-0">00001-14026-450</h4>
                                  <div class="hs-unfold ml-auto">C</div>
                                </div>
                                <p class="font-weight-bolder tasks_details mb-2">(Fixed)Goal Simulation頁面根據Must Have任務的計畫時間統計分析進度</p>
                                <div class="tasks_info text-primary">
                                  <div class="tsi-3 user_wrap d-flex justify-content-between align-items-center">
                                    <div class="us-1 d-flex justify-content-between align-items-center">
                                      <i class="fas fa-user-tie mr-2"></i>
                                      <div class="d-flex fw-boldest">hb</div>
                                    </div>
                                    <div class="us-1 d-flex justify-content-between align-items-center">
                                      <i class="far fa-list-alt mr-2 mt-1"></i>
                                      <div class="d-flex fw-boldest">3792</div>
                                    </div>
                                  </div>
                                  <div class="tsi-3 d-flex justify-content-between align-items-center">
                                    <div class="task_date fw-bold">Date:</div>
                                    <div class="d-flex fw-boldest">2021-12-23 / 2021-12-23</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="card mx-0 mb-2">
                              <div class="card-body">
                                <div class="d-flex align-items-center">
                                  <h4 class="mb-0">00001-14026-450</h4>
                                  <div class="hs-unfold ml-auto">C</div>
                                </div>
                                <p class="font-weight-bolder tasks_details mb-2">(Fixed)Goal Simulation頁面根據Must Have任務的計畫時間統計分析進度</p>
                                <div class="tasks_info text-primary">
                                  <div class="tsi-3 user_wrap d-flex justify-content-between align-items-center">
                                    <div class="us-1 d-flex justify-content-between align-items-center">
                                      <i class="fas fa-user-tie mr-2"></i>
                                      <div class="d-flex fw-boldest">hb</div>
                                    </div>
                                    <div class="us-1 d-flex justify-content-between align-items-center">
                                      <i class="far fa-list-alt mr-2 mt-1"></i>
                                      <div class="d-flex fw-boldest">3792</div>
                                    </div>
                                  </div>
                                  <div class="tsi-3 d-flex justify-content-between align-items-center">
                                    <div class="task_date fw-bold">Date:</div>
                                    <div class="d-flex fw-boldest">2021-12-23 / 2021-12-23</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                  -->
              </div>
            </div>
          </div>
        </div>
      </div><!-- /grid row -->
      <!-- card-deck-xl -->
      <div class="card-deck-xl">
        <!-- .card -->
        <div class="card card-fluid" id="Active_Sessions">
        </div><!-- /.card -->
        <!-- .card -->
        <div class="card card-fluid fixedHeight">
          <div class="card-header card-title d-flex justify-content-between"> 
            <div>{% trans "Active Tasks: To-Dos" %}</div>
            <ul class="nav nav-pills activeTaskNav flex-nowrap">
              <li class="nav-item">
                  <a class="nav-link active" href="#group-task-views" show_style="group" data-toggle="tab"> <i class="fas fa-layer-group"></i> </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#list-task-views" show_style="list" data-toggle="tab"> <i class="fas fa-list-ul"></i> </a>
              </li>                           
              <li class="nav-item">
                <a class="nav-link" href="#top-task-views" show_style="top" data-toggle="tab" filter="null"><i class="fas fa-indent"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#single-task-views" show_style="single" data-toggle="tab" filter="null"><i class="fas fa-clipboard-list"></i></a>
              </li>              
            </ul>            
          </div><!-- .card-body -->
          <div class="card-body scrollbar" id="today_tasks">
          </div><!-- /.card-body -->
          <!-- .card-footer -->
          <div class="card-footer">
            <a href="#" class="card-footer-item">{% trans "back to top" %} <i class="fa fa-fw fa-angle-up"></i></a>
          </div><!-- /.card-footer -->
        </div><!-- /.card -->
      </div><!-- /card-deck-xl -->
    </div><!-- /.page-section -->
  </div><!-- /.page-inner -->
  <div id="tasklist" class="collapse task-collapse" style="display: none;">
    <div class="row task_wap task-item">
      <span class="d-none pk">[[inc_id]]</span>
      <div class="col-12">
        <div class="card wrap-primary">
          <div class="card-body">
            <div class="card-title d-flex align-content-center">
              <span class="task-num">
                <h4 class="card-subtitle"><i class="fas fa-circle circle-dot"></i>[[taskno]]</h4>
              </span>
              <span class="ml-auto alert-link">[[progress]]</span>
            </div>
            <div class="card-content d-flex pl-2">
              <div class="font-weight-bolder">[[task]]</div>
            </div>
          </div>
          <div class="footer_wrap text-dark">
              <ul class="list d-flex justify-content-around pl-0 flex-wrap">
                <li class="list-item">
                  <span class="menu-text"> [[planbdate]] / [[planedate]]</span>
                </li>
                <li class="list-item">
                  <span class="">[[schpriority]]</span>
                </li>
                <li class="list-item">
                  <span class="badge badge-subtle badge-primary">[[process]]</span>
                </li>
                <li class="list-item">
                  <span class="badge badge-subtle badge-primary">[[contact]]</span>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="templates" style="display:none">
    <div class="card card-fluid ribbon ribbon-top mx-sm-2 mx-xl-4" tmpl_name="week_goal">
      <div class="card-body">    
          <div class="ribbon-target"><span><i class="far fa-calendar-alt mr-1"></i>[[week_title]]</span></div>
          <div class="ribbon-content goals-details">
              <div class="task scrollbar">
                <ul class="task-inner" solt_name="desc">
                  <li class="d-flex mb-2"><span>G4.實現WEB ERP報表服務器</span></li>
                </ul>
              </div>
              <div class="task_progress mt-3">
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="[[finish_progress]]" aria-valuemin="0" aria-valuemax="100" style="width: [[finish_progress]]%"></div>
                </div>
                <span class="todos pl-3">[[finish_qty]]/[[total_qty]]</span>
              </div>
          </div>
          <div class="ribbon-content tasks-details d-none">
            <div id="btnBack">
                <img src="../../../static/PMISLooper/assets/images/close.png" alt="" style="cursor:pointer;">
            </div>
            <div class="task_wrap scrollbar" solt_name="tasks">
                <div class="card mx-0 mb-2" tmpl_name="week_task">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <h4 class="mb-0">[[taskno]]</h4>
                      <div class="hs-unfold ml-auto">[[progress]]</div>
                    </div>
                    <p class="font-weight-bolder tasks_details mb-2">[[task]]</p>
                    <div class="tasks_info text-primary">
                      <div class="tsi-3 user_wrap d-flex justify-content-between align-items-center">
                        <div class="us-1 d-flex justify-content-between align-items-center">
                          <i class="fas fa-user-tie mr-2"></i>
                          <div class="d-flex fw-boldest">[[contact]]</div>
                        </div>
                        <div class="us-1 d-flex justify-content-between align-items-center">
                          <i class="far fa-list-alt mr-2 mt-1"></i>
                          <div class="d-flex fw-boldest">[[schpriority]]</div>
                        </div>
                      </div>
                      <div class="tsi-3 d-flex justify-content-between align-items-center">
                        <div class="task_date fw-bold">Date:</div>
                        <div class="d-flex fw-boldest">[[planbdate]] / [[planedate]]</div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>    
  </div>
  <!--syl 打開甘特圖彈窗-->
  <div class="modal fade" id="session_gantt" tabindex="-1" role="dialog" aria-labelledby="form" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Gantt View" %}</h5>
                <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: hidden;">
                <div class="iframe_wrapper">
                    <iframe src="" frameborder="0" width='100%' id="pciframe" class="iframe" style="height:100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
  <!--syl 打開甘特圖彈窗-->
{%  endblock %}

{%block form_js%}
    {{ block.super }} 
    <script>
      window.completion_tasks = {{completion_tasks|safe}}
      window.projects = {{projects_recorids|safe}}
      window.name = "staff_dashboard";
      $("title").html('{% trans "Staff Dashboard" %}');
      /**
      $(function () {
        $(".weekGoal_card_wrap").on("dblclick",".ribbon-content .task-inner li", function(){
          $(this).parents(".ribbon-content.goals-details").removeClass("d-flex").addClass("d-none");
          $(this).parents(".ribbon-content.goals-details").next().removeClass("d-none").addClass("d-flex");
        })  
        $(".weekGoal_card_wrap").on("click","#btnBack", function(){
          $(this).parent(".ribbon-content.tasks-details").removeClass("d-flex").addClass("d-none");
          $(this).parent(".ribbon-content.tasks-details").prev().removeClass("d-none").addClass("d-flex");        
        })  
      })**/
    </script>
    <script src="{% static 'BaseApp/vendor/Looper/assets/vendor/pace-progress/pace.min.js' %}"></script>
    <script src="{% static 'BaseApp/vendor/Looper/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <!-- <script src="{% static 'BaseApp/vendor/Looper/assets/vendor/flatpickr/flatpickr.min.js' %}"></script> -->
    <script src="{% static 'BaseApp/vendor/Looper/assets/vendor/easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'BaseApp/vendor/Looper/assets/vendor/chart.js/Chart.min.js' %}"></script> <!-- END PLUGINS JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <!--<script src="{% static 'BaseProject/vendor/Looper/assets/javascript/pages/dashboard-demo.js' %}"></script>--> <!-- END PAGE LEVEL JS -->    
    <script src="{% md5url 'PMIS/js/looper/components.js' %}"></script> 
    <script src="{% md5url 'PMISLooper/assets/javascript/goal/overall/quarterly_goal_modal.js' %}"
    type="text/javascript"></script>
    <script src="{% md5url 'PMISLooper/assets/javascript/dashboard/staff_dashboard.js' %}"></script>     
{%endblock%}
