{% extends 'PMISLooper/vue_index.html' %}
{%load static %}
{%load md5url %}
{% load render_bundle from webpack_loader %}

{%block form_css%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'SystemBugRpt_app/assets/stylesheets/systemBugRpt.css' %}"  data-skin="default"/>  
<link rel="stylesheet" type="text/css" href="{% static 'SystemBugRpt_app/assets/stylesheets/systemBugRpt_dark.css' %}"  data-skin="dark"/>
{%endblock%}

{% block content%}
{{block.super}}

{%endblock%}   


{%block form_js%}
{{block.super}}
{% render_bundle 'SystemBugRpt_app/dist/javascript/SystemBugRpt' %} 

{%endblock%}   